
/*******this is the nav bar**************/

/*
#navbar {
	background-color: #554B1D;
	-webkit-border-bottom-right-radius: 10px;
	-webkit-border-bottom-left-radius: 10px;
	-moz-border-radius-bottomright: 10px;
	-moz-border-radius-bottomleft: 10px;
	border-bottom-right-radius: 10px;
	border-bottom-left-radius: 10px;
	border-top:5px #554B1D solid;
	height:44px;
	clear:left;
	z-index: 1;
}
*/

#access { 
	margin:0 auto 15px;
	width:100%;
	background: #f7f4e3 url(images/tan-noise.png) repeat;
	border-radius:12px;
	border:1px #b9b9b9 solid;
	box-shadow: inset 0 0 1px white;
}

#access div {
	margin:0;
}

#access ul {
    margin: 0;
}

#access ul ul {
    border-top: 0px solid #554B1D;
	top: 42px;
}


#access a {
	background: transparent;
    color: #483d3b;
	text-transform: uppercase;
}

#access li:hover > a,
#access a:focus {
	background: #f9f9f9; /* Show a solid color for older browsers */
    -moz-transition: background 0.2s linear 0s;
    -webkit-transition: background 0.2s linear 0s;
    transition: background 0.2s linear 0s;
}

#access ul li#menu-item-623 > a:hover { /*makes the home page link rounded corner - i should really use descendent selectors, but I don't them that well*/
-webkit-border-radius: 15px 0px 0px 15px;
        border-radius: 15px 0px 0px 15px;
}


#access ul li ul li a:hover { /*gives a hover effect for the drop-down menu*/
	background: #FFF; /* Show a solid color for older browsers */
    -moz-transition: background 0.2s linear 0s;
    -webkit-transition: background 0.2s linear 0s;
    transition: font-weight background 0.2s linear 0s;
	font-weight:bold;
}



/* Search Form */

input#s { /*the search bar - added on 12-16-2012*/
    height: 24px; /*modified from 33px on 2-29-12*/
}

div#navbar #searchform {
    position: relative;
    right: 5px;
    top: 5px;
    text-align: right;
}

div#navbar #searchform div {
	margin: 0;
}
div#navbar #s {
	float: right;
	-webkit-transition-duration: 400ms;
	-webkit-transition-property: width, background;
	-webkit-transition-timing-function: ease;
	-moz-transition-duration: 400ms;
	-moz-transition-property: width, background;
	-moz-transition-timing-function: ease;
	-o-transition-duration: 400ms;
	-o-transition-property: width, background;
	-o-transition-timing-function: ease;
	width: 85px;
	
	-webkit-border-radius: 0px 10px 10px 0px;
        border-radius: 0px 10px 10px 0px;
	
	background-color: #FFFDF5; /*the tan color the search bar starts off as*/
}

div#navbar #s:focus {
	background-color: #f9f9f9; /*the white color the search bar ends with after expansion*/
	width: 150px; /*how wide the search form ends up as*/
}
div#navbar #searchsubmit {
	display: none;
}
div#navbar .only-search #searchform {
	top: 5px;
	z-index: 1;
}
div#navbar .only-search #s {
	background-color: #E4E1D0;
	border-color: #000;
	color: #222;
}
div#navbar .only-search #s,
div#navbar .only-search #s:focus {
	width: 85%;
}
div#navbar .only-search #s:focus {
	background-color:#FFF; /*tan color for focus*/
}
div#navbar .with-image #searchform {
	top: auto;
	bottom: -27px;
	max-width: 150px;
}
div#navbar .only-search + #access div {
	padding-right: 205px;
}