
/*********** TABLE FORMATTING **************/

.wp-table-reloaded {
	border-collapse: separate;
	border-spacing: 1px;
	background-color: #CDCDCD;
	margin: 10px 0px 15px 0px;
	font-size: 8pt;
	width: 100%;
	text-align: left;
}

th {
	background-color: #E6EEEE;
	border: 1px solid #FFFFFF;
	padding: 4px;
	color: #3D3D3D!important;
}
td {
	color: #3D3D3D;
	padding: 4px;
	background-color: #FFFFFF;
	vertical-align: top;
}
.even td {
	background-color: #FFFFFF;
}
.odd td {
	background-color: #F0F0F6;
}
.row-hover tr:hover td {
	background-color: #D0D0D6!important;
}
.wp-table-reloaded-table-description {
	clear: both;
	display: block;
}

table th {
    font-size: 1.2em;
    font-weight: bold;
	background-color: #554B1D;
    color: white !important;
}

table .odd td {
    background-color: #E6E4D7;
}

table{
	border-collapse: separate;
	border-spacing: 1px;
	background-color: #CDCDCD;
	margin: 10px 0px 15px 0px;
	font-size: 8pt;
	width: 100%;
	text-align: left;
}

.column-1 {
	width:70%;
}

.column-2 {
    padding-right: 3%;
    width: 16%;
	}